@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

:root {
	--primary-color: #30475e;
	--accent-color: #f05454;
	--dark-color: #222831;
	--light-color: #dddddd;
	--success-color: #54f0a2;
	--warning-color: #f0e654;
	--danger-color: #f05454;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		font-family: 'Raleway', sans-serif;
		@apply text-dark;
	}
}

input[type='number'].appearance-none::-webkit-inner-spin-button,
input[type='number'].appearance-none::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
